<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>koTodo || Add</title>
</head>
<body>
    <div layout:fragment="contents">

        <div class="row w-full">
            <div class="m6 flex justify-center">
                <div class="card px-6 w-2/4">
                    <div class="card-content">
                        <span class="card-title text-2xl"><strong>Add</strong></span>
                        <p>Write your task and description</p>
                    </div>
                    <div class="card-action">
                        <form class="w-full">

                            <p class="mt-4 flex justify-end">
                                <label>
                                    <input type="checkbox" class="filled-in" name="isComplete"/>
                                    <span>Completed</span>
                                </label>
                            </p>

                            <div class="flex flex-col">
                                <div class="input-field">
                                    <i class="material-icons prefix">content_paste</i>
                                    <input id="icon_prefix" type="text" class="validate" name="task">
                                    <label for="icon_prefix">Task</label>
                                </div>
                                <div class="input-field">
                                    <i class="material-icons prefix">chat</i>
                                    <input id="icon_telephone" type="tel" class="validate" name="description">
                                    <label for="icon_telephone">Description</label>
                                </div>
                            </div>

                            <div class="flex flex-col">
                                <div class="input-field flex justify-center">
                                    <a class="waves-effect waves-light btn-large mr-4 green darken-1"><i class="material-icons right">create</i>Add</a>
                                    <a class="waves-effect waves-light btn-large red "><i class="material-icons right">cancel</i>Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>